<h3> Shipping information</h3>
Dear <%= @order.name%>

<p>
This is just to let you know that we are going to ship your order :
</p>
<table>
<tr><th colspan="2" >Description</th><th>Amount</th></tr>
<%= render @order.line_items %>
</table>
</br>
</br>
<p>
at
</p>
</br> 
<%= @order.shipping%>
</br>
<p>
to
</p>
</br>
<p>
<%= @order.adress%>
</p>
for any informations kindly send mail to .....